body {
	font-size: 16px;
  	background-color: yellow;
  	color: #fff;
	font-family: 'Roboto', sans-serif;
}

#header-nav {
  background-color: #862615;
  border-radius: 0;
  border: 0;
}

#bolivia {
	width: 150px;
	height: 130px;
	margin: 10px 15px 10px 0px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-family: 'Roboto', sans-serif;
	color: #36BAC5;
	font-size: 1.5em;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand p {
	color: #000;
	text-transform: uppercase;
	font-style: italic;
	font-size: .7em;
	margin-top: 15px;
}

.navbar-brand p span {
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #364AC5;
	text-align: center;
}

#nav-list a:hover {
	background: #e7e7e7;
}

#nav-list a span {
	font-size: 1.8em;
}

#history {
  margin-top: 5px;
}

#history a { 
  text-align: right;
  padding-bottom: 0;
}

#history div { 
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.category-tile { 
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}

footer {
	background-color: green;
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #222;
  border-top: 0;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

#hours, #address {
  line-height: 2;
}

#hours > span, #address > span {
  font-size: 1.3em;
}

#address p {
  color: #557c3e;
  font-size: .8em;
  line-height: 1.8;
}

#testimonials {
  font-style: italic;
}

#testimonials p:nth-child(2) {
  margin-top: 25px;
}

@media (min-width: 1200px) {
  
}

@media (min-width: 992px) and (max-width: 1199px) {
	#bolivia {
		width: 100px;
    	height: 100px;
    	margin: 5px 5px 5px 0;
	}
}

@media (max-width: 767px) {
	.navbar-brand {
    	padding-top: 10px;
    	height: 80px;
  	}
  	.navbar-brand h1 { 
  	    padding-top: 10px;
    	font-size: 5vw; 
  	}
  	.navbar-brand p { 
  	    font-size: .6em;
    	margin-top: 12px;
  	}
  	.navbar-brand p img {
    	height: 20px;
  	}

  	#collapsable-nav a {
    	font-size: 1.2em;
  	}
  	#collapsable-nav a span { 
    	font-size: 1em;
    	margin-right: 5px;
  	}

  	#call-btn > a {
    	font-size: 1.5em;
    	display: block;
    	margin: 0 20px;
    	padding: 10px;
    	border: 2px solid #fff;
    	background-color: #f6b319;
    	color: #951c49;
  	}
  	#xs-deliver {
    	margin-top: 5px;
    	font-size: .7em;
    	letter-spacing: .1em;
    	text-transform: uppercase;
  	}
  	.panel-footer section {
    	margin-bottom: 30px;
    	text-align: center;
  	}
  	.panel-footer section:nth-child(3) {
    	margin-bottom: 0; 
  	}
  	.panel-footer section hr {
    	width: 50%;
  	}
}

@media (max-width: 479px) {
	.navbar-brand h1 { 
    	padding-top: 5px;
    	font-size: 6vw;
  	}
}